

@using GooseGooseGo_Net
@using GooseGooseGo_Net.Services
@using GooseGooseGo_Net.ef

    @{
    ViewData["Title"] = "Home Page";
    mApp _m_App = @Model;
    }

<div class="container text-center">
  <div class="row">
    <div class="col text-start">
      <b>Kraken USD asset count <span class="text-primary" id="span_asset_item_count"></span></b>
    </div>
    <div class="col">
      <b>Date / time <span class="text-primary" id="span_asset_date_time"></span></b>
    </div>
    <div class="col">
    &nbsp;
    </div>
        <div class="col">
            &nbsp;
        </div>
  </div>
</div>

<table id="tab_aps">
    <thead>
         <tr>
            <th>Pair</th>
            <th>Price</th>
            <th>% change</th>
        </tr>
    </thead>

    <tbody id="tb_aps">

    </tbody>
</table>

<script>

    $(document).ready(function () {
        setUrlBase("@Html.Raw(_m_App.mUrl)");
        doInit();
        pollDataRead(); // Start polling
        
        console.log("Home/Index.cshtml loaded");
        });

    function pollDataRead() {
        doDataRead();
        setTimeout(pollDataRead, 10000); // Schedule next poll after 10s
    }

        function doInit() {
            // Initialization code here
            doDataRead();
        }


    function doDataRead() {
        let p_aps = {
            aspspMinSwing: 0.010,
            aspspPeriodValue:  5,
            aspspPeriodUnit:  "minute",
            aspspRowCount: 20,
            aspspPeriodOffset:  0
            };
        
        doApiPost(doDataReadContinueSwingList, p_aps, "api/doAssetPercentageSwingList");
    }

    var l_aps = null;
    var l_a_info = null;

    function doDataReadContinueSwingList(ret) {
        l_aps = ret.data.apiData;
        doApiPost(doDataReadContinueInfoList, null, "api/doAssetInfoList");
    }

    function doDataReadContinueInfoList(ret) {
            // Continuation code here
            l_a_info = ret.data.apiData;
            $("#span_asset_item_count").text(l_a_info.length);
            let dt = l_a_info[0].assRetrievedAt;
            let dtStr = dt.replace('T', ' ');
            $("#span_asset_date_time").text(dtStr);
            $("#tb_aps").empty();
            
            if (l_aps != null) {
                for (let i = 0; i < l_aps.length; i++) {
                    let ap = l_aps[i];
                    let tr = $("<tr></tr>");
                    let td_pair = $("<td></td>").text(ap.asspsPair);
                    let td_price = $("<td></td>").text(ap.asspsEndTrade+ " USD");
                    let td_change = $("<td></td>").text((ap.asspsTradeDiffPercent).toFixed(2) + "%");
                    tr.append(td_pair);
                    tr.append(td_price);
                    tr.append(td_change);
                    $("#tb_aps").append(tr);
                }
            }
    }
</script>


